@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  text-align: center;
  background-color: seashell;
  box-sizing: border-box;
  margin: 0 auto;
}

.hero__title {
  text-align: center;
  color: chocolate;
  border: 2px dashed rosybrown;
}
.hero__nav {
  text-decoration: none;
  list-style: none;
}
.gallery-container {
  background-color: wheat;
  width: 50%;
  max-height: 100%;
  box-sizing: border-box;
  display: inline-block;
}
.gallery {
  display: inline;
}
.gallery__title {
  display: flex;
  color: #746900;
  line-height: 120%;
  font-size: 160%;
  background: rgb(255, 226, 74);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 226, 74, 1) 0%,
    rgba(233, 191, 148, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 226, 74, 1) 0%,
    rgba(233, 191, 148, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 226, 74, 1) 0%,
    rgba(233, 191, 148, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe24a",endColorstr="#e9bf94",GradientType=1);
  border-radius: 30px;
  margin: 3% auto;
  width: 400px;
  text-align: center;
}
@media screen and (min-width: 220px) {
  .gallery-container {
    width: auto;
    display: flex;
    flex-direction: column;
    float: inherit;
    flex-wrap: wrap;
  }
}
